<h1> Thank You! </h1>
<p> Thanks for your suggestion we will consider it and get back to you shortly. </p>
<p> In the meantime, here is a copy of your recipe suggestion for your records. </p>

<h2> Recipe title : <%= name %></h2>

<h3> Ingredients</h3>
<pre><%= ingredients %></pre>

<h3> Directions</h3>
<pre><%= directions %></pre>

<p><a href="/recipes">Return to the recipes list</a></p>